@mixin pad-fontS-color($pad,$fontS,$color){
    font-size:$fontS;
    padding:$pad;
    color:$color;
}


@mixin fonts($size, $weight){
    font:{
        size:$size;
        weight:$weight;
    }
}

@mixin colors($background, $color){
    background-color: $background;
    color:$color;
}

@mixin width-margin($wid, $mar){
    width:$wid;
    margin:$mar;
}

@mixin float-align($float, $align){
    float:$float;
    text-align: $align;
}


@mixin lh($val){
    line-height:$val;
    @content;
}